<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thalmic.android.audiosword">

    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".YelpActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ConfigActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".MyoRemoteService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />
        <service
            android:name=".FreeFlowService"
            android:exported="false" />
        <service
            android:name=".FreeFlowService"
            android:exported="false"></service>
        <service
            android:name=".YelpFreeFlowService"
            android:exported="false"></service>

        <activity
            android:name=".DrawerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
